@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --red: #ff0157;
  --white: #fff;
  --black: #111;
  --sticky-bg: #CFCFC9;
  --color-bg: #000;
  --color-fg: #fff;
  --gold: #EAE40B;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

p {
  font-weight: 300;
  color: #111;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
}


header .logo {
  color: var(--white);
  font-weight: bold;
  font-size: 2.5em;
  text-decoration: none;
}


header .logo .small {
  font-size: 1.5rem;
} 

#banner .content .details {
  font-size: 2.5rem;
}

.details {
  color: var(--white);
  text-align: left;
}

.red {
  color: var(--red);
}


header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 20px;
  margin-top: 20px;
}

header .navigation li a {
  text-decoration: none;
  color: var(--white);
  font-weight: 300;
  font-size: 1.5em;
  transition: .5s;
}

header .navigation li a:hover {
  color: var(--red);
  background-color: var(--white);
  padding: 10px;
  border-radius: 20px;
}

header .navigation li .active {
  color: red;
  background-color: var(--gold);
  padding: 10px;
  border-radius: 10px;
}

section {
  padding: 80px;
}

p {
  font-weight: 300;
  color: var(--black);
}


.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(/Assets/Images/school_bg2.jpg);
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 5em;
  color: var(--white);
}

.banner .content p {
  font-size: 1em;
  color: var(--white);
}

.btn {
  font-size: 1.5em;
  color: var(--white);
  background: var(--red);
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-top: 20px;
  text-decoration: none;
  letter-spacing: 2px;
  transition: .5s;
}

.btn:hover {
  letter-spacing: 5px;
}

.sticky {
  background: var(--white);
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.sticky .logo {
  color: var(--black);
}

.sticky .navigation li a {
  color: var(--black);
}

@media (max-width: 991px) {

  header,
  header .sticky {
    padding: 20 20px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    width: 100%;
    height: calc(100% - 100px);
    position: fixed;
    top: 150px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--sticky-bg);
  }

  header .navigation li {
    margin-left: 10px;
  }

  header .navigation li a {
    color: var(--black);
    font-size: 1.6em;
    margin-top: 10px;
  }

  .menutoggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(/Assets/Images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .menutoggle.active {
    background: url(/Assets/Images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sticky .menutoggle {
    filter: invert(1);
  }

  section {
    padding: 20px;
  }

  .banner .content h2 {
    font-size: 3em;
    color: #fff;
  }

  .row {
    flex-direction: column;
  }

  .row .col50 {
    position: relative;
    width: 100%;
  }

  .row .col50 .imgbx {
    height: 300px;
    margin-top: 20px;
  }

  .menu .content {
    margin-top: 20px;
  }

  .menu .content .box {
    margin: 10px;
  }

  .menu .content .box .imgbx {
    height: 260px;
  }

  .titeText {
    font-size: 1.8em;
    text-align: center;
  }

  .expert .content {
    margin-top: 20px;
  }

  .testimonial .content .box {
    margin: 10px;
    padding: 30px;
  }

  .expert .content .box {
    margin: 20px;
  }

  .contactform {
    padding: 40px 30px;
  }

  .sticky {
    padding: 10px 30px;
  }
}