@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --red: #ff0157;
  --white: #fff;
  --black: #111;
  --sticky-bg: #cfcfc9;
  --color-bg: #cfcfc9;
  --color-fg: #111;
  --gold: #eae40b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

p {
  font-weight: 300;
  color: #111;
}

/* #region Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.LogoParent{
  display: flex;
}

header .logo { 
  color: var(--white);
  font-weight: bold;
  font-size: 2.5em;
  text-decoration: none;
  transition: 0.3s;
}

.logoParent img {
  margin: 0 10 0 0px;
  width: 90px;
}

.logoParent .small {
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
}
header .navigation {
  position: relative;
  display: flex;
  margin-top: 30px;
}

header .navigation li {
  list-style: none;
  margin-left: 20px;
  margin-top: 20px;
}

header .navigation li a {
  text-decoration: none;
  color: var(--white);
  font-weight: 300;
  font-size: 1.5em;
  transition: 0.5s;
}

header .navigation li a:hover {
  color: var(--red);
  background-color: var(--white);
  padding: 10px;
  border-radius: 20px;
}

header .navigation li .active {
  color: red;
  background-color: var(--gold);
  padding: 10px;
  border-radius: 10px;
}

/* #endregion */

.details {
  color: var(--white);
  text-align: left;
}

p {
  font-weight: 300;
  color: var(--black);
}
section {
  padding: 1rem;
  background-color: transparent;
}

/* #region Banner*/
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/Assets/Images/school_bg2.jpg) no-repeat center fixed;
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: left;
}

.banner strong{
  font-size: 2.5rem;
}

.banner .content h2 {
  font-size: 2.5em;
  color: var(--red);
  font-style: italic;
}

.banner .content p {
  font-size: 1em;
  color: var(--white);
}
/* #endreion */

.btn {
  font-size: 1.5em;
  color: var(--white);
  background: var(--red);
  display: inline-block;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-top: 20px;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 5px;
}

/* #region From the Principal*/
.principal{
  align-items: center;
  display: flex; 
  padding: 20px;
}
.principal img{ 
  margin: 10px;
  width: 100px;
  border-radius: 50%;
}
.principal div span{
  text-align: center;
}
/* #endregion */

/* #region Sticky*/
.sticky {
  background: var(--white);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  opacity: 0.9;
}

.sticky .logo {
  color: var(--black);
  font-size: 1.5rem;
  transition: 0.3s;

}
.sticky .logo .small {
  color: var(--black);
  font-size: 1rem;
  text-align: center;
}
.sticky .logo img {
  width: 50px;
}

.sticky .navigation {
  position: relative;
  display: flex;
  margin-top: 0px;
}

.sticky .navigation li {
  list-style: none;
  margin-top: 30px;
}

.sticky .navigation li a {
  color: var(--black);
  font-size: 1rem;
}

.sticky .navigation li a:hover {
  color: var(--red);
  background-color: rgb(166, 255, 166);
  padding: 10px;
  border-radius: 20px;
}

.sticky .navigation li .active {
  color: red;
  background-color: var(--gold);
  padding: 10px;
  border-radius: 10px;
}
/* #endregion */

.titleText {
  font-size: 1.8em;
  text-align: center;
}

.red {
  color: var(--red);
}

/* #region Go to top button*/
#myTopBtn {
  display: none;
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: var(--red);
  color: var(--white);
  cursor: pointer;
  border-radius: 50%;
}
#myTopBtn:hover {
  background-color: #555;
}
/* #endregion */

@media (max-width: 991px) {
  header,
  header .sticky {
    padding: 20px;
  }

  header .navigation {
    display: none;
  }
.sticky .navigation{
  display: none;
}
  header .navigation.active {
    width: 100%;
    height: calc(100% - 100px);
    position: fixed;
    top: 100px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--sticky-bg);
  }

  header .navigation li {
    margin-left: 10px;
  }

  header .navigation li a {
    color: var(--black);
    font-size: 1.6em;
    margin-top: 50px;
  }

  .menutoggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(/Assets/Images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .menutoggle.active {
    background: url(/Assets/Images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sticky .menutoggle {
    filter: invert(1);
  }

  .row {
    flex-direction: column;
  }

  .row .col50 {
    position: relative;
    width: 100%;
  }
}
